.stuff {
  background-color: dodgerblue;
 
  text-align: center;
  justify-content: left;
  align-items: center;
  display: block;

}
*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.otherStuff {
  margin-top: 100px;


  text-align: left;
  justify-content: left;
  align-items: center;
  display: block;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.infoFields{
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.info{
  display: flex;
  align-items: center;
  margin-right: 20px
}

.taskInput{
  border-width: 1px;
  outline: none;
  border-style: solid;
  border-color: white;
  border-radius: 30px;
  margin-left: 10px;

  padding: 7px;
 
}
.numberInput{
  border-width: 1px;
  outline: none;
  border-style: solid;
  border-color: white;
  border-radius: 30px;

  margin-left: 10px;
  height: 20px;
  padding: 7px;
 
}


.addTask button{
  background-color: white;
  padding: 10px;
  outline: none;
  border:none;
  border-radius: 10px;
  margin-left: 15px;
  font-weight: bold;
  transition: 0.2s ease;
}
.addTask button:hover{
  box-shadow: 5px 5px 15px rgba(0, 0,0,0.2);
  transition: 0.2s ease;
}
.exportButton{
  
  background-color: white;
  padding: 10px 20px;
  outline: none;
  border:none;
  border-radius: 10px;
  margin-left: 15px;
  font-weight: bold;
  transition: 0.2s ease;
  

}
.exportButton:hover{
  box-shadow: 5px 5px 15px rgba(0, 0,0,0.2);
  transition: 0.2s ease;
}
.emptyButton{
  background-color: white;
  outline: none;
  border: none;
  
  border-radius: 30px;
  padding: 10px 15px;
  margin-left: 15px;
  font-weight: bold;
  transition: 0.2s ease;
  
}
.emptyButton:hover{
  box-shadow: 5px 5px 15px rgba(0, 0,0,0.2);
  transition: 0.2s ease;
}
.exportNumber{
  margin-left: 20px;

}

.expNumber{
  font-weight: 700;
}
.taskItem{
  display: flex;
  
}
.taskList{
  padding: 0px 20px;
  text-align: left;
  justify-content: left;
  margin-top: 10px;
  
}
.exportList{

  padding: 0px 20px;
  background-color: dodgerblue;

}
.exportItem{
  display: flex;
  padding: 0px 20px;
;
  
}
.taskNumber{
  margin-left: 30px;
}
.delete-button{
  background-color: dodgerblue;
  outline: none;
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 70px;
  margin-left: 15px;
  font-weight: bold;
  transition: 0.2s ease;
  color: white;
  
}
.delete-button:hover{
  box-shadow: 5px 5px 15px rgba(0, 0,0,0.2);
  transition: 0.2s ease;
}
.extractButton{
  background-color: white;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  margin-left: 15px;
  transition: 0.2s ease;
  font-weight: bold;


}
.extractButton:hover{
  box-shadow: 5px 5px 15px rgba(0, 0,0,0.2);
  transition: 0.2s ease;
}

.exportSection{
  align-items: center;
  display: flex;
  
}
.taskItem{
  align-items: center;
}

.exportHeader{
 
  color: white;
  
}
.projectHeader{

  color: white;

}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
